/* Actividad 2: Sitio Web Básico (fecha límite 28 ago, 23:59).
Crear un sitio web (contenido a elección) de 3 o 4 páginas web (index, somos, servicios, productos, contacto) que incluya:
* Etiquetas semánticas (html5).
* Enlaces externos (según la temática elegida) e internos entre las páginas creadas
* Al menos una imagen por página (html5).
* Al menos una tabla pequeña con información de la temática.
* Formulario de contacto (nombre, teléfono, email, consulta) con input correspondiente al tipo de información a enviar.

(Registrarse en un hosting gratuito para subir este proyecto, según los sugeridos en la primer clase)
La misma deberá respetar las convenciones propuestas en W3C https://www.w3schools.com/html/html5_semantic_elements.asp */

/* https://colorhunt.co */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.menu a:hover {
    background-color: aqua;
}

header {
    display: flex;
    justify-content: start;
    align-items: center;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(0,212,255,1) 0%, rgba(9,9,121,1) 35%,  rgba(2,0,36,1) 100%)
}

nav a {
    margin-left: 50px;
    text-decoration: none;
    border: solid 1px black;
    border-radius: 10px;
    font-size: 30px;
    padding: 5px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo a{
    display: flex;
    align-items: center;
    background: none;
}

.logo img {
   height: 80px;
   border: solid black;
   border-radius: 15px;
}

.secc1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-image: url("../img/sublimacion.jpg");
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
}

.index {
    height: 100vh;
}

.secc-productos {
    height: 110vh;
}

.secc1-contacto {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-image: url("../img/sublimacion.jpg");
    background-size:cover;
    height: 100vh;
    background-repeat: no-repeat;
}

.card {
    border: solid 1px black;
    border-radius: 10px;
    width: auto;
    height: auto;
    padding: 20px;
    margin:50px;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.secc1 .card img {
    width: 300px;
    height: 400px;
    justify-content: center;
    align-items: center;
}

#navegacion a {
    border: 1px solid black;
    border-radius: 10px;
    text-decoration: none;
    padding: 5px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

a {
    background-color: #F1F1F1;
    color: #000;
}       

h1 {
    display: flex;
    justify-content: center;
    color: rgb(255, 0, 153);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 4em;
    background-color: blanchedalmond;
    }

h2 {
    display: flex;
    border: solid 1px black;
    background-color: antiquewhite;
}

p {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    font-style: italic;
}

#form {
    display: flex;
    font-size: x-large;
    border: #000;
    border-style:double;
    background-color: aliceblue;
    padding: 20px;
}

label, input {
    color:  black;
    font-weight: bold;
}

.consulta, .nombre, .apellido, .email {
    display: flex;
    width: 100%;
    gap: 10px;
}

.email {
    gap: 30px;
}

#botones-formulario {
    display: flex;
    font-size: 30px;
    margin-left: 30px;
    justify-content: center;
}

input {
    border: solid 1px black;
    margin: 1px;
}

.imputs {
        display: flex;
        justify-content: center;
}

#tabla {
    font-size: 18px;
    max-width: 80rem;
    line-height: normal;
    border-style:double;
    background-color: aliceblue;
    margin: 10px 0;
}

table {
    display: flex;
    justify-content: center;
    align-content: center;
}

h3 {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 2%;
}
 th, tr, td {
   border: solid 1px #000;
   padding: 5px;
}

td {
    width: 200px;
    padding: 10px;
    border: solid 1px #000;
}

.main-galeria {
    background-color:#F1F1F1;
}

.galeria {
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
}

.galeria img {
    width: 300px;
    box-shadow: 50px 50px 50px rgb(37, 38, 41);
}

.contenedor-galeria {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
    overflow-y: hidden;
    padding: 20px;
}

.h2-galeria, .galeria {
    display: flex;
    justify-content: center;
    padding: 20px;
}

footer{
    height: auto;
    background-color: #9ec8e1;
    text-align: center;
    padding: 10px;
}


footer a {
    background: none;
    text-align: center;
    padding: 10px;
  }

  @media screen and (min-width: 480px) {
    .index {
        height: auto;
    }
  }